body{
    background-image: url(bg.jpg);
   background-attachment: fixed;
    position: flex;
    flex-direction: column;
   margin: 0%;
}
#form{
    width: 400px;
    padding:30px;
    margin: 20vh auto 0 auto;
   border-radius: 5px;
    background-color:  rgba(6, 252, 96, );
    
}
h1{
    text-align: center;
    color:rgb(0, 0, 0);
    font-size:3rem;

    
}
#form button{
    background-color:rgba(0,0,0,0.6);
    color: white;
    border: 1px solid rgba(1,1,1,0.1);
    border-radius: 5px;
    padding:10px;
    font-size:20px;
    width:100%;
    cursor: pointer;
}
label{
    font-size: 1rem;

}
.input{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}
.input input{
    margin-top: 5px;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    background-color: rgba(1,1,1,0.3) ;
    border: 1px solid;
}
.input input:focus{
    outline: 0;


}
.input .error{
    color: red;
    font-size: 15px;
    margin-top: 5px;

}